:root {
  --primary: #8C22D6;
  --pdark: #431066;
  --pdarker: #3C0E5B;
  --pdarkerest: #2F0C48;
  --plight: #b277dd;
  --secondary: #69E41B;
  --sdark: #53B515;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#megatainer{
  background-color: var(--pdarkerest);
  height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--secondary);
  overflow: hidden;
}

.mainWindow {
  width: 100%;
  box-sizing: border-box;
  max-width: 50%;
}

.windowHeaderBar{
  background-color: var(--pdarker);
  color: var(--secondary);
  display: flex;
  justify-content: center;
  /*flex-start*/
  align-items: center;
  height: 2rem;
}

.titleBox {
  margin-left: .5rem;
}

.content {
  background-color: var(--pdark);
  color: var(--secondary);
  width: 100%;
  box-sizing: border-box;
  padding: .75rem;
}


#editor{
  height: 100%;
  resize: none;
}